# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# Tu código aquí
serie_1=pd.Series(lst)
serie_1.head()

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [4]:
# Tu código aquí
print(serie_1.index[2])

2

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
# Tu código aquí
dataF=pd.DataFrame(b)

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [7]:
# Tu código aquí
dataF.columns = ['Score1', 'Score2', 'Score3', 'Score4', 'Score5']
dataF

   Score1  Score2  Score3  Score4  Score5
0    53.1    95.0    67.5    35.0    78.4
1    61.3    40.8    30.8    37.8    87.6
2    20.6    73.2    44.2    14.6    91.8
3    57.4     0.1    96.1     4.2    69.5
4    83.6    20.5    85.4    22.8    35.9
5    49.0    69.0     0.1    31.8    89.1
6    23.3    40.7    95.0    83.8    26.9
7    27.6    26.4    53.8    88.8    68.5
8    96.6    96.4    53.4    72.4    50.1
9    73.7    39.0    43.2    81.6    34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [8]:
# Tu código aquí
dataF_1_3_5 = dataF[['Score1', 'Score3', 'Score5']]
dataF_1_3_5

   Score1  Score3  Score5
0    53.1    67.5    78.4
1    61.3    30.8    87.6
2    20.6    44.2    91.8
3    57.4    96.1    69.5
4    83.6    85.4    35.9
5    49.0     0.1    89.1
6    23.3    95.0    26.9
7    27.6    53.8    68.5
8    96.6    53.4    50.1
9    73.7    43.2    34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [9]:
# Tu código aquí
dataF_3 = dataF['Score3'].mean()
dataF_3

56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [10]:
# Tu código aquí
dataF_4 = dataF['Score4'].max()
dataF_4

88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [11]:
# Tu código aquí
dataF_2 = dataF['Score2'].median()
dataF_2

40.75

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [12]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [13]:
# Tu código aquí
ordersDF=pd.DataFrame(orders)
ordersDF

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [16]:
# Tu código aquí
sum_orders = ordersDF['Quantity'].sum()
sum_income = ordersDF['Revenue'].sum()

print("Suma pedidos:",sum_orders)
print("Suma ingresos:",sum_income)

Suma pedidos: 2978
Suma ingresos: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [17]:
# Tu código aquí
more_expensive =  ordersDF['UnitPrice'].max()
cheaper = ordersDF['UnitPrice'].min()

print("Precio más caro:",more_expensive)
print("Precio más barato:",cheaper)

Precio más caro: 11.95
Precio más barato: 0.18

## Carguemos otro conjunto de datos para más ejercicios

In [18]:
# Tu código aquí
admissionsDF = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [19]:
# Tu código aquí
admissionsDF.head

<bound method NDFrame.head of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        316          104                  3  3.0   3.5  8.00
2             3        322          110                  3  3.5   2.5  8.67
3             4        314          103                  2  2.0   3.0  8.21
4             5        330          115                  5  4.5   3.0  9.34
..          ...        ...          ...                ...  ...   ...   ...
380         381        324          110                  3  3.5   3.5  9.04
381         382        325          107                  3  3.0   3.5  9.11
382         383        330          116                  4  5.0   4.5  9.45
383         384        312          103                  3  3.5   4.0  8.78
384         385        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.72
2           1              0.80
3           0              0.65
4           1              0.90
..        ...               ...
380         1              0.82
381         1              0.84
382         1              0.91
383         0              0.67
384         1              0.95

[385 rows x 9 columns]>

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [20]:
# Tu código aquí
admissionsDF.count()

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [21]:
# Tu código aquí
admissionsDF.set_index('Serial No.')
print(admissionsDF)
admissionsDF['Serial No.']

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        316          104                  3  3.0   3.5  8.00
2             3        322          110                  3  3.5   2.5  8.67
3             4        314          103                  2  2.0   3.0  8.21
4             5        330          115                  5  4.5   3.0  9.34
..          ...        ...          ...                ...  ...   ...   ...
380         381        324          110                  3  3.5   3.5  9.04
381         382        325          107                  3  3.0   3.5  9.11
382         383        330          116                  4  5.0   4.5  9.45
383         384        312          103                  3  3.5   4.0  8.78
384         385        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.72
2           1              0.80
3           0              0.65
4           1              0.90
..        ...               ...
380         1              0.82
381         1              0.84
382         1              0.91
383         0              0.67
384         1              0.95

[385 rows x 9 columns]

0        1
1        2
2        3
3        4
4        5
      ...
380    381
381    382
382    383
383    384
384    385
Name: Serial No., Length: 385, dtype: int64

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [22]:
# Tu código aquí
cantidad_CGPA_filtro=admissionsDF[(admissionsDF["CGPA"] > 9) & (admissionsDF["Research"] > 0) ].count()
print(cantidad_CGPA_filtro['Serial No.'])

101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [23]:
# Tu código aquí
subDF_CGPA_filtro=admissionsDF[(admissionsDF["CGPA"] > 9) & (admissionsDF["SOP"] < 3.5) ]
print(subDF_CGPA_filtro)
subDF_CGPA_filtro.mean()['Chance of Admit ']

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
28           29        338          118                  4  3.0   4.5  9.40
62           63        327          114                  3  3.0   3.0  9.02
140         141        326          114                  3  3.0   3.0  9.11
217         218        324          111                  4  3.0   3.0  9.01
381         382        325          107                  3  3.0   3.5  9.11

     Research  Chance of Admit
28          1              0.91
62          0              0.61
140         1              0.83
217         1              0.82
381         1              0.84

0.8019999999999999